header {
    background-color: #23232ed0;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-voltar-e-hamburguer {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 10;
}

.voltar a img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.menu-container {
    position: relative;
}

.hamburger-menu {
    width: 30px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 20;
}

.hamburger-menu span {
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 2px;
    transition: 0.3s;
}

.hamburger-menu.ativo span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.ativo span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.ativo span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.menu-hamburguer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    position: absolute;
    background-color: #f9f9f9;
    top: 40px;
    left: 0;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 15;
    flex-direction: column;
    display: flex;
    border-radius: 8px;
}

.menu-hamburguer a {
    padding: 10px;
    text-decoration: none;
    color: #333;
    display: block;
}

.menu-hamburguer.ativo {
    max-height: 500px;
    opacity: 1;
    border-radius: 8px;
}

.perfil-admin {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 10;
}

.perfil-admin img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.icon-carrinho {
    display: flex;
    align-items: center;
}

.icon-carrinho svg {
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.carrinho-img {
    width: 23px;
    height: 23px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 0;
}

header h1 {
    margin: 0 auto;
    font-size: 1.8em;
    font-weight: bold;
}